allow adsprpcd qdsp_device:chr_file r_file_perms;

# For reading dir/files on /dsp
r_dir_file(adsprpcd, firmware_file)

allow adsprpcd ion_device:chr_file r_file_perms;
allow adsprpcd system_file:dir r_dir_perms;
