set_prop(bluetooth, bluetooth_prop)
allow bluetooth sysfs_bluetooth_writable:file w_file_perms;

allow bluetooth {
    serial_device
    smd_device
    bt_device
}:chr_file rw_file_perms;

# Access to persist_file
allow bluetooth persist_bluetooth_file:dir rw_dir_perms;
allow bluetooth persist_bluetooth_file:file create_file_perms;
r_dir_file(bluetooth, persist_file)
allow bluetooth persist_file:file w_file_perms;

allow bluetooth self:socket { create write getopt read };

# ioctlcmd=c302
allow bluetooth self:socket ioctl;
allowxperm bluetooth self:socket ioctl msm_sock_ipc_ioctls;

binder_call(bluetooth, hal_audio);
allow bluetooth hal_audio_hwservice:hwservice_manager find;
allow bluetooth alarm_boot_prop:file read;
allow bluetooth alarm_handled_prop:file read;
allow bluetooth alarm_instance_prop:file read;
allow bluetooth bg_boot_complete_prop:file read;
allow bluetooth bg_daemon_prop:file read;
allow bluetooth boot_animation_prop:file read;
allow bluetooth boot_mode_prop:file read;
allow bluetooth bootloader_boot_reason_prop:file read;
allow bluetooth boottime_prop:file read;
allow bluetooth coresight_prop:file read;
allow bluetooth crash_dump:process noatsecure;
allow bluetooth crash_prop:file read;
allow bluetooth ctl_LKCore_prop:file read;
allow bluetooth ctl_bootanim_prop:file read;
allow bluetooth ctl_bugreport_prop:file read;
allow bluetooth ctl_console_prop:file read;
allow bluetooth ctl_default_prop:file read;
allow bluetooth ctl_dumpstate_prop:file read;
