# /dev/block partitions
type bootloader_block_device, dev_type;
type ltalabel_block_device, dev_type;
type trim_area_partition_device, dev_type;

# /dev devices
type ir_remote_serial_device, dev_type;
type rfkill_device, dev_type;
type rmi_device, dev_type;
type shared_log_device, dev_type;
type subsys_modem_device, dev_type;
