allow hal_memtrack_default kernel:system module_request;

allow hal_memtrack_default init:dir rw_dir_perms;
allow hal_memtrack_default init:file rw_file_perms;


allow hal_memtrack_default hal_keymaster_default:dir rw_dir_perms;
allow hal_memtrack_default hal_keymaster_default:file rw_file_perms;

allow hal_memtrack_default hal_configstore_default:dir rw_dir_perms;
allow hal_memtrack_default hal_configstore_default:file rw_file_perms;

allow hal_memtrack_default hal_health_default:dir rw_dir_perms;
allow hal_memtrack_default hal_health_default:file rw_file_perms;

allow hal_memtrack_default hal_light_default:dir rw_dir_perms;
allow hal_memtrack_default hal_light_default:file rw_file_perms;

allow hal_memtrack_default hal_power_default:dir rw_dir_perms;
allow hal_memtrack_default hal_power_default:file rw_file_perms;

allow hal_memtrack_default hal_usb_default:dir rw_dir_perms;
allow hal_memtrack_default hal_usb_default:file rw_file_perms;

allow hal_memtrack_default hal_vibrator_default:dir rw_dir_perms;
allow hal_memtrack_default hal_vibrator_default:file rw_file_perms;


allow hal_memtrack_default system_app:dir rw_dir_perms;
allow hal_memtrack_default system_app:file rw_file_perms;

allow hal_memtrack_default hwservicemanager:dir rw_dir_perms;
allow hal_memtrack_default hwservicemanager:file rw_file_perms;

allow hal_memtrack_default servicemanager:dir rw_dir_perms;
allow hal_memtrack_default servicemanager:file rw_file_perms;

allow hal_memtrack_default vndservicemanager:dir rw_dir_perms;
allow hal_memtrack_default vndservicemanager:file rw_file_perms;

allow hal_memtrack_default wcnss_service:dir rw_dir_perms;
allow hal_memtrack_default wcnss_service:file rw_file_perms;

allow hal_memtrack_default mm-pp-daemon:dir rw_dir_perms;
allow hal_memtrack_default mm-pp-daemon:file rw_file_perms;

allow hal_memtrack_default per_mgr:dir rw_dir_perms;
allow hal_memtrack_default per_mgr:file rw_file_perms;
