allow hal_memtrack_default hal_keymaster_default:file read;
allow hal_memtrack_default hwservicemanager:file read;
allow hal_memtrack_default servicemanager:file read;
allow hal_memtrack_default vndservicemanager:file read;
allow hal_memtrack_default hwservicemanager:dir search;
