allow hal_memtrack_default hal_keymaster_default:file read;
allow hal_memtrack_default hwservicemanager:file read;
allow hal_memtrack_default servicemanager:file read;
allow hal_memtrack_default vndservicemanager:file read;
allow hal_memtrack_default hwservicemanager:dir search;
allow hal_memtrack_default kernel:system module_request;
allow hal_memtrack_default hwservicemanager:file open;
allow hal_memtrack_default servicemanager:dir search;
allow hal_memtrack_default hwservicemanager:file getattr;
allow hal_memtrack_default servicemanager:file open;
allow hal_memtrack_default vndservicemanager:dir search;
allow hal_memtrack_default hal_configstore_default:file read;
allow hal_memtrack_default hal_keymaster_default:dir search;
allow hal_memtrack_default hal_keymaster_default:file { getattr open };
allow hal_memtrack_default servicemanager:file getattr;
allow hal_memtrack_default vndservicemanager:file { getattr open };
allow hal_memtrack_default hal_configstore_default:dir search;
allow hal_memtrack_default hal_health_default:file read;
allow hal_memtrack_default hal_configstore_default:file open;
allow hal_memtrack_default hal_health_default:dir search;
allow hal_memtrack_default hal_light_default:file read;
allow hal_memtrack_default thermalserviced:file read;
allow hal_memtrack_default wcnss_service:file read;
allow hal_memtrack_default hal_health_default:file open;
allow hal_memtrack_default hal_light_default:dir search;
allow hal_memtrack_default hal_power_default:file read;
allow hal_memtrack_default hal_configstore_default:file getattr;
allow hal_memtrack_default hal_health_default:file getattr;
allow hal_memtrack_default init:file read;
allow hal_memtrack_default hal_power_default:dir search;
allow hal_memtrack_default hal_usb_default:file read;
allow hal_memtrack_default init:dir search;
allow hal_memtrack_default system_app:dir search;
allow hal_memtrack_default system_app:file { getattr open read };
allow hal_memtrack_default wcnss_service:dir search;
allow hal_memtrack_default wcnss_service:file { getattr open };
allow hal_memtrack_default hal_light_default:file open;
allow hal_memtrack_default hal_power_default:file open;
allow hal_memtrack_default hal_usb_default:dir search;
