allow hwservicemanager init:binder call;
allow hwservicemanager init:dir search;

allow hwservicemanager init:file read;
allow hwservicemanager init:file open;
allow hwservicemanager init:process getattr;
allow hwservicemanager kernel:system module_request;

allow hwservicemanager runtime_event_log_tags_file:file { open read };
