allow init firmware_file:dir mounton;
allow init fsg_file:dir mounton;
allow init pstorefs:dir mounton;
allow init system_file:file mounton;

allow init cameraserver:fd use;
allow init gpu_device:chr_file write;
allow init ion_device:chr_file write;
allow init self:socket { read write };
allow init self:udp_socket ioctl;
allow init video_device:chr_file { ioctl write };

allow init proc:file { getattr open read setattr write };
allow init sysfs:file { open setattr write };

allow init sysfs_leds:lnk_file read;

allow init sysfs_graphics:file setattr;

allow init system_file:file execute_no_trans;
allow init vendor_file:file execute_no_trans;
allow init vendor_file:lnk_file { create };

allow init hwservicemanager:binder call;

allow init hwservicemanager:binder transfer;

allow init hwservicemanager:binder transfer;

allow init hal_power_hwservice:hwservice_manager add;
allow init hidl_base_hwservice:hwservice_manager add;
allow init default_android_hwservice:hwservice_manager add;
allow init hal_usb_hwservice:hwservice_manager add;
allow init system_server:binder call;
allow init sysfs:file read;

allow init hal_health_hwservice:hwservice_manager add;

allow init sysfs_mmc_host:file read;
dontaudit init sysfs_mmc_host:file open;

allow init self:netlink_kobject_uevent_socket { create setopt bind };

allow init self:netlink_kobject_uevent_socket read;
allow init hal_lineage_power_hwservice:hwservice_manager add;
allow init hal_perf_hwservice:hwservice_manager find;
allow init hal_light_hwservice:hwservice_manager add;
allow init kernel:system module_request;

allow init sysfs_graphics:file { write open };

allow init vendor_init:process noatsecure;

allow init bootanim:process noatsecure;
allow init bootstat:process noatsecure;
allow init fsck:process noatsecure;
allow init hal_keymaster_default:process noatsecure;
allow init hal_perf_default:process noatsecure;
allow init hal_power_default:process noatsecure;
allow init hal_wifi_default:process noatsecure;
allow init hal_wifi_supplicant_default:process noatsecure;
allow init hwservicemanager:process noatsecure;
allow init logd:process noatsecure;
allow init netd:process noatsecure;
allow init perfprofd:process noatsecure;
allow init qti_init_shell:process noatsecure;
allow init servicemanager:process noatsecure;
allow init surfaceflinger:process noatsecure;
allow init toolbox:process noatsecure;
allow init ueventd:process noatsecure;
allow init zygote:process noatsecure;

allow init adbd:process noatsecure;
allow init drmserver:process noatsecure;
allow init hal_audio_default:process noatsecure;
allow init healthd:process noatsecure;
allow init irsc_util:process noatsecure;
allow init tzdatacheck:process noatsecure;
allow init vdc:process noatsecure;
allow init vndservicemanager:process noatsecure;
allow init vold:process noatsecure;
allow init wcnss_service:process noatsecure;

allow init audioserver:process noatsecure;
allow init gatekeeperd:process noatsecure;
allow init mmi_touch_sh:process noatsecure;
allow init rild:process noatsecure;
allow init tee:process noatsecure;

allow init lmkd:process noatsecure;
allow init mediacodec:process noatsecure;
allow init per_mgr:process noatsecure;
allow init thermalserviced:process noatsecure;
allow init wificond:process noatsecure;
allow init mm-qcamerad:process noatsecure;
allow init rmt_storage:process noatsecure;
allow init tombstoned:process noatsecure;
allow init usbd:process noatsecure;
allow init hal_memtrack_default:process noatsecure;
allow init hal_usb_default:process noatsecure;
allow init hal_vibrator_default:process noatsecure;
allow init mediaserver:process noatsecure;
allow init mediametrics:process noatsecure;
allow init mmi_boot_sh:process noatsecure;
allow init netmgrd:process noatsecure;
allow init qmuxd:process noatsecure;
allow init incidentd:process noatsecure;
allow init installd:process noatsecure;
allow init keystore:process noatsecure;
allow init mediaextractor:process noatsecure;
allow init mediadrmserver:process noatsecure;
