allow kernel unlabeled:file { getattr open };
allow kernel untrusted_app:fd use;

allow kernel block_device:dir search;

allow kernel untrusted_app_25:fd use;
allow kernel untrusted_app_tmpfs:file write;

