# Allow keystore to operate using qseecom_device
allow keystore tee_device:chr_file rw_file_perms;
allow keystore kernel:system module_request;
allow keystore runtime_event_log_tags_file:file { open read };
