hal_client_domain(mediaserver, hal_camera)

hal_client_domain(mediaserver, hal_graphics_allocator)

allow mediaserver ion_device:chr_file rw_file_perms;

# Talk with graphics composer fences
allow mediaserver hal_graphics_composer:fd use;

add_service(mediaserver, mediaserver_service)

allow mediaserver activity_service:service_manager find;
allow mediaserver appops_service:service_manager find;
allow mediaserver audioserver_service:service_manager find;
allow mediaserver batterystats_service:service_manager find;
allow mediaserver cameraproxy_service:service_manager find;
allow mediaserver mediaserver_service:service_manager find;
allow mediaserver processinfo_service:service_manager find;
allow mediaserver scheduling_policy_service:service_manager find;
allow mediaserver surfaceflinger_service:service_manager find;

allow mediaserver hidl_token_hwservice:hwservice_manager find;

#from legacy

allow mediaserver mm-qcamerad:unix_dgram_socket sendto;

allow mediaserver mpctl_socket:dir search;

unix_socket_connect(mediaserver, mpctl, perfd)
unix_socket_connect(mediaserver, thermal, thermal-engine)
unix_socket_connect(mediaserver, sensors, sensors)
allow mediaserver default_android_service:service_manager add;

allow mediaserver crash_dump:process noatsecure;

allow mediaserver kernel:system module_request;
allow mediaserver tee_device:chr_file rw_file_perms;
allow mediaserver qdsp_device:chr_file r_file_perms;

allow mediaserver self:socket create_socket_perms_no_ioctl;

binder_call(mediaserver, rild)

allow mediaserver camera_data_file:sock_file w_file_perms;

userdebug_or_eng(`
  allow mediaserver camera_data_file:dir rw_dir_perms;
  allow mediaserver camera_data_file:file create_file_perms;
  # Access to audio
  allow mediaserver qti_debugfs:file rw_file_perms;
')

r_dir_file(mediaserver, sysfs_esoc)

# This is required for thermal sysfs access
r_dir_file(mediaserver, sysfs_thermal);

# Allow mediaserver to create socket files for audio arbitration
allow mediaserver audio_data_file:sock_file { create setattr unlink };
allow mediaserver audio_data_file:dir remove_name;

#Allow mediaserver to set camera properties
allow mediaserver camera_prop:property_service set;

# allow mediaserver to access adsprpcd
r_dir_file(mediaserver, adsprpcd_file);

# allow mediaserver to communicate with bootanim
binder_call(mediaserver, bootanim);

allow mediaserver surfaceflinger:unix_stream_socket rw_socket_perms;

binder_call(mediaserver, hal_configstore)

allow mediaserver hal_configstore_ISurfaceFlingerConfigs:hwservice_manager { find };
allow mediaserver sysfs_batteryinfo:dir r_dir_perms;
allow mediaserver sysfs_batteryinfo:file r_file_perms;
allow mediaserver camera_bgproc_service:service_manager { add };

allow mediaserver device:dir r_dir_perms;
