allow mediaserver default_android_service:service_manager add;
allow mediaserver device:dir { open read };
allow mediaserver firmware_file:dir search;

allow mediaserver hal_camera_hwservice:hwservice_manager find;

allow mediaserver cameraserver_service:service_manager add;

allow mediaserver cameraproxy_service:service_manager find;

allow mediaserver serialno_prop:file read;
allow mediaserver sysfs:file read;

allow mediaserver serialno_prop:file open;
allow mediaserver sysfs:file open;
allow mediaserver serialno_prop:file getattr;
allow mediaserver sysfs:file getattr;
