allow mediaextractor sdcardfs:file read;
allow mediaextractor vfat:file read;
allow mediaextractor vfat:file getattr;

# allow mediaextractor read permissions for file sources
allow mediaextractor sdcard_type:file { getattr read };
