# Need to use fb ioctls to communicate with kernel
allow mm-pp-daemon graphics_device:chr_file rw_file_perms;
allow mm-pp-daemon graphics_device:dir r_dir_perms;

# Allow reading/writing to '/persist/display/*'
# The color config file is dynamically created
allow mm-pp-daemon persist_display_file:dir rw_dir_perms;
allow mm-pp-daemon persist_display_file:file create_file_perms;

# Allow for directory search only to '/persist'
allow mm-pp-daemon persist_file:dir search;

# Allow reading/writing data config files
allow mm-pp-daemon display_misc_file:dir create_dir_perms;
allow mm-pp-daemon display_misc_file:file create_file_perms;

# Rule for IPC communication
allow mm-pp-daemon qdisplay_service:service_manager find;
vndbinder_use(mm-pp-daemon)
hal_client_domain(mm-pp-daemon, hal_graphics_composer)
allow mm-pp-daemon fwk_sensor_hwservice:hwservice_manager find;

binder_call(mm-pp-daemon, system_server)

userdebug_or_eng(`
  # This allows pp-daemon to use shell commands to blank
  # the display - it uses input keyevent to do this
  allow mm-pp-daemon vendor_shell_exec:file rx_file_perms;
  allow mm-pp-daemon system_file:file x_file_perms;
  allow mm-pp-daemon self:process ptrace;

  # This allow pp-daemon access to diag
  diag_use(mm-pp-daemon)
')

# Allow mm-pp-daemon to change the brightness
allow mm-pp-daemon sysfs_leds:dir r_dir_perms;
allow mm-pp-daemon sysfs_leds:file rw_file_perms;
allow mm-pp-daemon sysfs_leds:lnk_file read;
allow mm-pp-daemon sysfs_graphics:dir r_dir_perms;
allow mm-pp-daemon sysfs_graphics:file rw_file_perms;
allow mm-pp-daemon sysfs_data:file r_file_perms;

userdebug_or_eng(`
set_prop(mm-pp-daemon, debug_prop)
')

allow mm-pp-daemon init:unix_stream_socket { listen accept };

# access lcd-backlight
r_dir_file(mm-pp-daemon, sysfs_leds)

allow mm-pp-daemon ion_device:chr_file rw_file_perms;
allow mm-pp-daemon kernel:system module_request;
