allow per_mgr kernel:system module_request;
allow per_mgr vndbinder_device:chr_file read;
allow per_mgr crash_dump:process noatsecure;
allow per_mgr vndbinder_device:chr_file write;
allow per_mgr vndbinder_device:chr_file open;
allow per_mgr vndbinder_device:chr_file ioctl;
allow per_mgr vndservicemanager:binder call;
allow per_mgr vndservicemanager:binder transfer;
