allow radio alarm_boot_prop:file rw_file_perms;
allow radio alarm_handled_prop:file rw_file_perms;
allow radio alarm_instance_prop:file rw_file_perms;
allow radio bg_boot_complete_prop:file rw_file_perms;
allow radio bg_daemon_prop:file rw_file_perms;
allow radio bluetooth_prop:file rw_file_perms;
allow radio boot_animation_prop:file rw_file_perms;
allow radio boot_mode_prop:file rw_file_perms;
allow radio bootloader_boot_reason_prop:file rw_file_perms;
allow radio boottime_prop:file rw_file_perms;
allow radio coresight_prop:file rw_file_perms;
allow radio crash_prop:file rw_file_perms;
allow radio ctl_LKCore_prop:file rw_file_perms;
allow radio ctl_bootanim_prop:file rw_file_perms;
