allow radio qmuxd_socket:dir search;

qmux_socket(radio)
allow radio system_app_data_file:dir getattr;
allow radio persist_file:dir rw_dir_perms;
allow radio persist_file:file { getattr open };
allow radio alarm_boot_prop:file read;
allow radio alarm_handled_prop:file read;
allow radio alarm_instance_prop:file read;
allow radio bg_boot_complete_prop:file read;

allow radio bg_daemon_prop:file read;
allow radio bluetooth_prop:file read;
allow radio boot_animation_prop:file read;
allow radio boot_mode_prop:file read;

allow radio bootloader_boot_reason_prop:file read;
allow radio boottime_prop:file read;
allow radio coresight_prop:file read;
allow radio crash_prop:file read;
allow radio ctl_LKCore_prop:file read;
allow radio ctl_bootanim_prop:file read;
allow radio ctl_bugreport_prop:file read;
allow radio ctl_console_prop:file read;
allow radio ctl_default_prop:file read;
allow radio ctl_dumpstate_prop:file read;
allow radio ctl_fuse_prop:file read;
allow radio ctl_hbtp_prop:file read;
allow radio ctl_interface_restart_prop:file read;
allow radio ctl_interface_start_prop:file read;
allow radio ctl_interface_stop_prop:file read;
allow radio ctl_mdnsd_prop:file read;
allow radio ctl_netmgrd_prop:file read;
allow radio ctl_port-bridge_prop:file read;
allow radio ctl_qmuxd_prop:file read;
allow radio ctl_restart_prop:file read;
allow radio ctl_sigstop_prop:file read;
allow radio ctl_start_prop:file read;
allow radio ctl_stop_prop:file read;
allow radio ctl_vendor_imsrcsservice_prop:file read;
allow radio ctl_vendor_wigigsvc_prop:file read;
allow radio device_logging_prop:file read;
allow radio diag_mdlog_prop:file read;
allow radio dolby_prop:file read;

# IMS needs permission to use avtimer
allow radio avtimer_device:chr_file r_file_perms;

allow radio { cameraserver_service mediaextractor_service mediacodec_service }:service_manager find;

# diag
userdebug_or_eng(`
    diag_use(radio)
')
allow radio dumpstate_options_prop:file read;
allow radio firstboot_prop:file read;
allow radio fm_prop:file read;
allow radio freq_prop:file read;
allow radio fst_prop:file read;
allow radio gamed_prop:file read;
allow radio hw_rev_prop:file read;
allow radio ipacm-diag_prop:file read;
allow radio last_boot_reason_prop:file read;
allow radio ipacm_prop:file read;
allow radio location_prop:file read;
allow radio logpersistd_logging_prop:file read;
allow radio lowpan_prop:file read;
allow radio manufacturedate_prop:file read;
allow radio mdm_helper_prop:file read;
allow radio media_msm8939hw_prop:file read;
allow radio mmc_prop:file read;
allow radio mmi_prop:file read;
allow radio mpdecision_prop:file read;
