allow rild cutback_data_file:dir rw_dir_perms;
allow rild cutback_data_file:sock_file create_file_perms;
allow rild fsg_file:file r_file_perms;
allow rild system_data_file:sock_file create_file_perms;
allow rild proc_bootinfo:file r_file_perms;

# rild needs to execute /system/bin/qmi_motext_hook
allow rild rild_exec:file execute_no_trans;

qmux_socket(rild);

allow rild ssr_device:chr_file r_file_perms;

r_dir_file(rild, sysfs_ssr)
r_dir_file(rild, sysfs_esoc)

allow rild sysfs_esoc:file w_file_perms;

binder_call(rild, mediaserver)
binder_call(rild, audioserver)
binder_call(audioserver, rild)

# Rule for RILD to talk to peripheral manager
use_per_mgr(rild);

allow rild rild_socket:chr_file r_file_perms;
unix_socket_connect(rild, rild, time_daemon)

dontaudit rild domain:dir r_dir_perms;
allow rild time_daemon:unix_stream_socket connectto;
r_dir_file(rild, netmgrd)

# Allow access to netmgrd socket
netmgr_socket(rild);

# Rule for RILD to talk to peripheral manager
use_per_mgr(rild);

# diag
userdebug_or_eng(`
    diag_use(rild)
')
allow rild self:socket ioctl;
allowxperm rild self:socket ioctl msm_sock_ipc_ioctls;

allow rild vendor_radio_data_file:dir rw_dir_perms;
allow rild vendor_radio_data_file:file create_file_perms;

# qcril.so needs access to /vendor/radio/qcril_database/qcril.db
allow rild vendor_file:file lock;

allow rild audioserver_service:service_manager find;
allow rild carrier_file:dir rw_dir_perms;
allow rild carrier_file:file create_file_perms;
allow rild fsg_file:dir { read search };
allow rild proc:file read;
allow rild fsg_file:dir open;
allow rild proc:file open;
allow rild vndbinder_device:chr_file read;
allow rild vndbinder_device:chr_file write;
allow rild vndbinder_device:chr_file open;
allow rild vndbinder_device:chr_file ioctl;
allow rild fsg_file:lnk_file read;
allow rild vndservicemanager:binder call;
dontaudit rild vendor_file:file ioctl;

allow rild proc_bootinfo:file r_file_perms;

dontaudit rild vendor_file:file ioctl;
