allow secure_element alarm_boot_prop:file rw_file_perms;
allow secure_element alarm_handled_prop:file rw_file_perms;
allow secure_element alarm_instance_prop:file rw_file_perms;
allow secure_element bg_boot_complete_prop:file rw_file_perms;

allow secure_element bg_daemon_prop:file rw_file_perms;
allow secure_element bluetooth_prop:file rw_file_perms;
allow secure_element boot_animation_prop:file rw_file_perms;
allow secure_element boot_mode_prop:file rw_file_perms;
allow secure_element bootloader_boot_reason_prop:file rw_file_perms;
allow secure_element boottime_prop:file rw_file_perms;
allow secure_element coresight_prop:file rw_file_perms;
allow secure_element crash_prop:file rw_file_perms;
allow secure_element ctl_LKCore_prop:file rw_file_perms;
allow secure_element ctl_bootanim_prop:file rw_file_perms;
allow secure_element ctl_bugreport_prop:file rw_file_perms;
allow secure_element ctl_console_prop:file rw_file_perms;
allow secure_element ctl_default_prop:file rw_file_perms;
allow secure_element ctl_dumpstate_prop:file rw_file_perms;
allow secure_element ctl_fuse_prop:file rw_file_perms;
allow secure_element ctl_hbtp_prop:file rw_file_perms;
allow secure_element ctl_interface_restart_prop:file rw_file_perms;
allow secure_element ctl_interface_start_prop:file rw_file_perms;
allow secure_element ctl_interface_stop_prop:file rw_file_perms;
allow secure_element ctl_mdnsd_prop:file rw_file_perms;
allow secure_element ctl_netmgrd_prop:file rw_file_perms;
allow secure_element ctl_port-bridge_prop:file rw_file_perms;
allow secure_element ctl_qmuxd_prop:file rw_file_perms;
allow secure_element ctl_restart_prop:file rw_file_perms;
allow secure_element ctl_rildaemon_prop:file rw_file_perms;
allow secure_element ctl_sigstop_prop:file rw_file_perms;
allow secure_element ctl_start_prop:file rw_file_perms;
allow secure_element ctl_stop_prop:file rw_file_perms;
allow secure_element runtime_event_log_tags_file:file read;
allow secure_element ctl_vendor_imsrcsservice_prop:file rw_file_perms;
allow secure_element ctl_vendor_wigigsvc_prop:file rw_file_perms;
allow secure_element device_logging_prop:file rw_file_perms;
allow secure_element diag_mdlog_prop:file rw_file_perms;
allow secure_element dolby_prop:file rw_file_perms;
allow secure_element dumpstate_options_prop:file rw_file_perms;
allow secure_element firstboot_prop:file rw_file_perms;
allow secure_element fm_prop:file rw_file_perms;
allow secure_element freq_prop:file rw_file_perms;
allow secure_element fst_prop:file rw_file_perms;
allow secure_element dumpstate_options_prop:file rw_file_perms;
allow secure_element firstboot_prop:file rw_file_perms;
allow secure_element fm_prop:file rw_file_perms;
allow secure_element freq_prop:file rw_file_perms;
allow secure_element fst_prop:file rw_file_perms;
allow secure_element gamed_prop:file rw_file_perms;
allow secure_element hw_rev_prop:file rw_file_perms;
allow secure_element ipacm-diag_prop:file rw_file_perms;
allow secure_element ipacm_prop:file rw_file_perms;
allow secure_element last_boot_reason_prop:file rw_file_perms;
allow secure_element gamed_prop:file rw_file_perms;
allow secure_element hw_rev_prop:file rw_file_perms;
allow secure_element ipacm-diag_prop:file rw_file_perms;
allow secure_element ipacm_prop:file rw_file_perms;
allow secure_element last_boot_reason_prop:file rw_file_perms;
allow secure_element location_prop:file rw_file_perms;
allow secure_element logpersistd_logging_prop:file rw_file_perms;
allow secure_element lowpan_prop:file rw_file_perms;
allow secure_element manufacturedate_prop:file rw_file_perms;
allow secure_element mdm_helper_prop:file rw_file_perms;
allow secure_element media_msm8939hw_prop:file rw_file_perms;
allow secure_element mmc_prop:file rw_file_perms;
allow secure_element mmi_prop:file rw_file_perms;
allow secure_element mpdecision_prop:file rw_file_perms;
allow secure_element msm_irqbalance_prop:file rw_file_perms;
allow secure_element msm_irqbl_sdm630_prop:file rw_file_perms;
