allow surfaceflinger unlabeled:dir search;

allow surfaceflinger default_android_service:service_manager { add find };

allow surfaceflinger crash_dump:process noatsecure;
allow surfaceflinger kernel:system module_request;

