allow system_app alarm_boot_prop:file read;
allow system_app alarm_handled_prop:file read;
allow system_app alarm_instance_prop:file read;
allow system_app bg_boot_complete_prop:file read;
allow system_app bg_daemon_prop:file read;
