allow system_server sensors_device:chr_file rw_file_perms;

allow system_server default_android_hwservice:hwservice_manager find;
allow system_server default_android_service:service_manager add;
allow system_server bg_boot_complete_prop:file read;
allow system_server bg_daemon_prop:file read;
allow system_server boot_animation_prop:file read;
allow system_server boot_mode_prop:file read;

allow system_server camera_prop:file read;
allow system_server coresight_prop:file read;
allow system_server crash_prop:file read;

allow system_server ctl_LKCore_prop:file read;
allow system_server ctl_console_prop:file read;
allow system_server ctl_dumpstate_prop:file read;
allow system_server ctl_fuse_prop:file read;
allow system_server ctl_hbtp_prop:file read;
allow system_server ctl_interface_restart_prop:file read;
allow system_server ctl_interface_start_prop:file read;
allow system_server ctl_interface_stop_prop:file read;
allow system_server ctl_mdnsd_prop:file read;
allow system_server ctl_netmgrd_prop:file read;
allow system_server ctl_port-bridge_prop:file read;
allow system_server ctl_qmuxd_prop:file read;
allow system_server ctl_restart_prop:file read;
allow system_server ctl_rildaemon_prop:file read;
allow system_server ctl_sigstop_prop:file read;
allow system_server ctl_start_prop:file read;
allow system_server ctl_stop_prop:file read;
allow system_server ctl_vendor_imsrcsservice_prop:file read;
allow system_server diag_mdlog_prop:file read;
allow system_server dolby_prop:file read;
allow system_server fm_prop:file read;
allow system_server freq_prop:file read;
allow system_server gamed_prop:file read;
allow system_server hw_rev_prop:file read;
allow system_server ipacm-diag_prop:file read;
allow system_server ipacm_prop:file read;
allow system_server logpersistd_logging_prop:file read;
allow system_server lowpan_prop:file read;
allow system_server manufacturedate_prop:file read;
allow system_server mdm_helper_prop:file read;
allow system_server media_msm8939hw_prop:file read;
allow system_server mmc_prop:file read;
allow system_server mmi_prop:file read;
allow system_server mpdecision_prop:file read;
allow system_server msm_irqbalance_prop:file read;
allow system_server msm_irqbl_sdm630_prop:file read;
allow system_server netd_prop:file read;
allow system_server netd_stable_secret_prop:file read;
allow system_server nfc_nq_prop:file read;
allow system_server perfd_prop:file read;
allow system_server persistent_properties_ready_prop:file read;
allow system_server postprocessing_prop:file read;
allow system_server ppd_prop:file read;
allow system_server qcom_ims_prop:file read;
allow system_server qdma_prop:file read;
allow system_server qemu_gles_prop:file read;
allow system_server qti_prop:file read;
allow system_server rmnet_mux_prop:file read;
allow system_server rmtfs_prop:file read;
allow system_server scr_enabled_prop:file read;
allow system_server exfat:dir { open read };
allow system_server sdm_idle_time_prop:file read;
allow system_server sensors_prop:file read;
allow system_server spcomlib_prop:file read;
allow system_server self:capability sys_module;

allow system_server self:socket create_socket_perms;
allowxperm system_server self:socket ioctl msm_sock_ipc_ioctls;

# For ANT tty communication and to set wc_transport prop
allow system_server {
    bluetooth_prop
    alarm_handled_prop
    alarm_instance_prop
}:property_service set;

# required for ANT App to connectto wcnss_filter sockets
allow system_server bluetooth:unix_stream_socket connectto;

# For ssr
allow system_server ssr_device:chr_file r_file_perms;

allow system_server { fuse persist_file }:dir search;

allow system_server {
    serial_device
    smd_device
    # graphics_device, audio_device, tee_device is for WFD
    graphics_device
    audio_device
    tee_device
    # allow access to power control ANT chip
    bt_device
}:chr_file rw_file_perms;

# For shutdown animation
allow system_server ctl_bootanim_prop:property_service set;

# allow tethering to access dhcp leases
r_dir_file(system_server, dhcp_data_file)

allow system_server persist_alarm_file:dir rw_dir_perms;
allow system_server persist_alarm_file:file { rw_file_perms create };
userdebug_or_eng(`
  diag_use(system_server)
')

# allow access to low persistence mode sysfs node
allow system_server sysfs_graphics:file rw_file_perms;

get_prop(system_server, alarm_boot_prop)
get_prop(system_server, hwui_prop)
get_prop(system_server, opengles_prop)
get_prop(system_server, qemu_hw_mainkeys_prop)

allow system_server system_app:file write;
allow system_server appdomain:file w_file_perms;

# IPC call for sensor feed
binder_call(system_server, mm-pp-daemon)
binder_call(system_server, hal_camera)

# Ant ipc
hal_client_domain(system_server, hal_bluetooth);

netmgr_socket(system_server)
qmux_socket(system_server);
use_per_mgr(system_server)
allow system_server sys_usb_configfs_prop:file read;
allow system_server sys_usb_controller_prop:file read;
allow system_server sys_usb_tethering_prop:file read;
allow system_server system_boot_reason_prop:file read;
allow system_server test_boot_reason_prop:file read;
allow system_server traced_enabled_prop:file read;
allow system_server uicc_prop:file read;
allow system_server vendor_rild_libpath_prop:file read;
allow system_server vendor_system_prop:file read;
allow system_server vendor_wifi_prop:file read;
allow system_server vm_bms_prop:file read;
allow system_server wififtmd_prop:file read;
