allow ueventd sysfs_mmi_touch:file w_file_perms;
allow ueventd sysfs_mmi_touch:dir search;
allow ueventd unlabeled:file { getattr open read };
allow ueventd unlabeled:dir search;

allow ueventd proc:file read;
allow ueventd proc:file open;
allow ueventd proc:file getattr;
allow ueventd kernel:system module_request;

