allow untrusted_app_27 proc_tty_drivers:file read;
allow untrusted_app_27 serialno_prop:file read;

allow untrusted_app_27 proc_tty_drivers:file open;

allow untrusted_app_27 camera_prop:file read;
allow untrusted_app_27 camera_prop:file open;
allow untrusted_app_27 camera_prop:file getattr;
allow untrusted_app_27 proc_tty_drivers:file getattr;
allow untrusted_app_27 serialno_prop:file open;
allow untrusted_app_27 block_device:blk_file getattr;
allow untrusted_app_27 block_device:dir { getattr open read };
allow untrusted_app_27 cache_block_device:blk_file getattr;
allow untrusted_app_27 debugfs:dir read;
allow untrusted_app_27 file_contexts_file:file getattr;
allow untrusted_app_27 firmware_file:dir search;
allow untrusted_app_27 hwservice_contexts_file:file getattr;
allow untrusted_app_27 init_exec:file getattr;
allow untrusted_app_27 mnt_media_rw_file:dir getattr;
allow untrusted_app_27 mnt_vendor_file:dir getattr;
allow untrusted_app_27 persist_block_device:blk_file getattr;
allow untrusted_app_27 persist_file:dir getattr;
allow untrusted_app_27 proc_stat:file open;
allow untrusted_app_27 proc_version:file { getattr open read };
allow untrusted_app_27 proc_vmstat:file { getattr open };
allow untrusted_app_27 rootfs:dir { read write };
allow untrusted_app_27 rootfs:file getattr;
allow untrusted_app_27 seapp_contexts_file:file getattr;
allow untrusted_app_27 service_contexts_file:file getattr;
allow untrusted_app_27 ssd_device:blk_file getattr;
allow untrusted_app_27 sysfs:dir read;
allow untrusted_app_27 tombstone_data_file:dir { getattr search };
allow untrusted_app_27 userdata_block_device:blk_file getattr;
allow untrusted_app_27 adb_data_file:dir getattr;
allow untrusted_app_27 anr_data_file:dir getattr;
allow untrusted_app_27 apk_private_data_file:dir getattr;
allow untrusted_app_27 asec_image_file:dir getattr;
allow untrusted_app_27 debugfs:file getattr;
allow untrusted_app_27 fsg_file:dir { read search };
allow untrusted_app_27 heapdump_data_file:dir getattr;
allow untrusted_app_27 install_data_file:file getattr;
allow untrusted_app_27 nonplat_service_contexts_file:file getattr;
allow untrusted_app_27 sepolicy_file:file getattr;
allow untrusted_app_27 smd_device:chr_file getattr;
allow untrusted_app_27 system_data_file:dir read;
allow untrusted_app_27 system_ndebug_socket:sock_file { getattr write };
allow untrusted_app_27 vndservice_contexts_file:file getattr;
allow untrusted_app_27 hal_memtrack_hwservice:hwservice_manager find;
allow untrusted_app_27 kgsl_debugfs:file { open read };
allow untrusted_app_27 proc:file { open read };
