allow untrusted_app_25 alarm_boot_prop:file rw_file_perms;
allow untrusted_app_25 alarm_handled_prop:file rw_file_perms;
allow untrusted_app_25 alarm_instance_prop:file rw_file_perms;
allow untrusted_app_25 bg_boot_complete_prop:file rw_file_perms;
allow untrusted_app_25 bg_daemon_prop:file rw_file_perms;
allow untrusted_app_25 bluetooth_prop:file rw_file_perms;
allow untrusted_app_25 boot_animation_prop:file rw_file_perms;
allow untrusted_app_25 boot_mode_prop:file rw_file_perms;
allow untrusted_app_25 bootloader_boot_reason_prop:file rw_file_perms;
allow untrusted_app_25 boottime_prop:file rw_file_perms;
allow untrusted_app_25 coresight_prop:file rw_file_perms;
allow untrusted_app_25 crash_prop:file rw_file_perms;
allow untrusted_app_25 ctl_LKCore_prop:file rw_file_perms;
allow untrusted_app_25 ctl_bootanim_prop:file rw_file_perms;
allow untrusted_app_25 ctl_bugreport_prop:file rw_file_perms;
allow untrusted_app_25 ctl_console_prop:file rw_file_perms;
allow untrusted_app_25 ctl_default_prop:file rw_file_perms;
allow untrusted_app_25 ctl_sigstop_prop:file rw_file_perms;
allow untrusted_app_25 device_logging_prop:file rw_file_perms;
allow untrusted_app_25 diag_mdlog_prop:file rw_file_perms;
allow untrusted_app_25 dolby_prop:file rw_file_perms;
allow untrusted_app_25 dumpstate_options_prop:file rw_file_perms;
allow untrusted_app_25 hw_rev_prop:file rw_file_perms;
allow untrusted_app_25 ipacm-diag_prop:file rw_file_perms;
allow untrusted_app_25 ipacm_prop:file rw_file_perms;
allow untrusted_app_25 kernel:system module_request;
allow untrusted_app_25 last_boot_reason_prop:file rw_file_perms;
allow untrusted_app_25 location_prop:file rw_file_perms;
allow untrusted_app_25 runtime_event_log_tags_file:file { open read };
allow untrusted_app_25 sysfs:file { getattr open read };
allow untrusted_app_25 sysfs_net:dir search;
allow untrusted_app_25 ctl_dumpstate_prop:file rw_file_perms;
allow untrusted_app_25 ctl_fuse_prop:file rw_file_perms;
allow untrusted_app_25 ctl_hbtp_prop:file rw_file_perms;
allow untrusted_app_25 ctl_interface_restart_prop:file rw_file_perms;
allow untrusted_app_25 ctl_interface_start_prop:file rw_file_perms;
allow untrusted_app_25 ctl_interface_stop_prop:file rw_file_perms;
allow untrusted_app_25 ctl_mdnsd_prop:file rw_file_perms;
allow untrusted_app_25 ctl_netmgrd_prop:file rw_file_perms;
allow untrusted_app_25 ctl_port-bridge_prop:file rw_file_perms;
allow untrusted_app_25 ctl_qmuxd_prop:file rw_file_perms;
allow untrusted_app_25 ctl_restart_prop:file rw_file_perms;
allow untrusted_app_25 ctl_rildaemon_prop:file rw_file_perms;
allow untrusted_app_25 ctl_start_prop:file rw_file_perms;
allow untrusted_app_25 ctl_stop_prop:file rw_file_perms;
allow untrusted_app_25 ctl_vendor_imsrcsservice_prop:file rw_file_perms;
allow untrusted_app_25 ctl_vendor_wigigsvc_prop:file rw_file_perms;
allow untrusted_app_25 firstboot_prop:file rw_file_perms;
allow untrusted_app_25 fm_prop:file rw_file_perms;
allow untrusted_app_25 freq_prop:file rw_file_perms;
allow untrusted_app_25 fst_prop:file rw_file_perms;
allow untrusted_app_25 gamed_prop:file rw_file_perms;
allow untrusted_app_25 logpersistd_logging_prop:file rw_file_perms;
allow untrusted_app_25 lowpan_prop:file rw_file_perms;
allow untrusted_app_25 manufacturedate_prop:file rw_file_perms;
allow untrusted_app_25 mdm_helper_prop:file rw_file_perms;
allow untrusted_app_25 media_msm8939hw_prop:file rw_file_perms;
allow untrusted_app_25 mmc_prop:file rw_file_perms;
allow untrusted_app_25 mmi_prop:file rw_file_perms;
allow untrusted_app_25 mpdecision_prop:file rw_file_perms;
allow untrusted_app_25 msm_irqbalance_prop:file rw_file_perms;
allow untrusted_app_25 msm_irqbl_sdm630_prop:file rw_file_perms;
allow untrusted_app_25 netd_prop:file rw_file_perms;
allow untrusted_app_25 netd_stable_secret_prop:file rw_file_perms;
allow untrusted_app_25 nfc_nq_prop:file rw_file_perms;
allow untrusted_app_25 opengles_prop:file rw_file_perms;
allow untrusted_app_25 overlay_prop:file rw_file_perms;
allow untrusted_app_25 per_mgr_state_prop:file rw_file_perms;
allow untrusted_app_25 perfd_prop:file rw_file_perms;
allow untrusted_app_25 persistent_properties_ready_prop:file rw_file_perms;
allow untrusted_app_25 postprocessing_prop:file rw_file_perms;
allow untrusted_app_25 ppd_prop:file rw_file_perms;
allow untrusted_app_25 qcom_ims_prop:file rw_file_perms;
allow untrusted_app_25 qdma_prop:file rw_file_perms;
allow untrusted_app_25 qemu_gles_prop:file rw_file_perms;
allow untrusted_app_25 qti_prop:file rw_file_perms;
allow untrusted_app_25 rmnet_mux_prop:file rw_file_perms;
allow untrusted_app_25 rmtfs_prop:file rw_file_perms;
allow untrusted_app_25 safemode_prop:file rw_file_perms;
allow untrusted_app_25 scr_enabled_prop:file rw_file_perms;
allow untrusted_app_25 sdm_idle_time_prop:file rw_file_perms;
allow untrusted_app_25 sensors_prop:file rw_file_perms;
allow untrusted_app_25 serialno_prop:file rw_file_perms;
allow untrusted_app_25 spcomlib_prop:file rw_file_perms;
allow untrusted_app_25 sys_usb_configfs_prop:file rw_file_perms;
allow untrusted_app_25 sys_usb_controller_prop:file rw_file_perms;
allow untrusted_app_25 serialno_prop:file rw_file_perms;
allow untrusted_app_25 spcomlib_prop:file rw_file_perms;
allow untrusted_app_25 sys_usb_configfs_prop:file rw_file_perms;
allow untrusted_app_25 sys_usb_controller_prop:file rw_file_perms;
allow untrusted_app_25 serialno_prop:file rw_file_perms;
allow untrusted_app_25 spcomlib_prop:file rw_file_perms;
allow untrusted_app_25 sys_usb_configfs_prop:file rw_file_perms;
allow untrusted_app_25 sys_usb_controller_prop:file rw_file_perms;
allow untrusted_app_25 serialno_prop:file rw_file_perms;
allow untrusted_app_25 spcomlib_prop:file rw_file_perms;
allow untrusted_app_25 sys_usb_configfs_prop:file rw_file_perms;
allow untrusted_app_25 sys_usb_controller_prop:file rw_file_perms;
allow untrusted_app_25 sys_usb_tethering_prop:file rw_file_perms;
allow untrusted_app_25 system_boot_reason_prop:file rw_file_perms;
allow untrusted_app_25 test_boot_reason_prop:file rw_file_perms;
allow untrusted_app_25 theme_prop:file rw_file_perms;
allow untrusted_app_25 traced_enabled_prop:file rw_file_perms;
allow untrusted_app_25 uicc_prop:file rw_file_perms;
allow untrusted_app_25 usf_prop:file rw_file_perms;
allow untrusted_app_25 vendor_mpctl_prop:file rw_file_perms;
allow untrusted_app_25 vendor_rild_libpath_prop:file rw_file_perms;
allow untrusted_app_25 vendor_system_prop:file rw_file_perms;
allow untrusted_app_25 vendor_wifi_prop:file rw_file_perms;
allow untrusted_app_25 uicc_prop:file rw_file_perms;
allow untrusted_app_25 usf_prop:file rw_file_perms;
allow untrusted_app_25 vendor_mpctl_prop:file rw_file_perms;
allow untrusted_app_25 vm_bms_prop:file rw_file_perms;
allow untrusted_app_25 wifi_prop:file rw_file_perms;
allow untrusted_app_25 wififtmd_prop:file rw_file_perms;
allow untrusted_app_25 vm_bms_prop:file rw_file_perms;
allow untrusted_app_25 wifi_prop:file rw_file_perms;
allow untrusted_app_25 wififtmd_prop:file rw_file_perms;
allow untrusted_app_25 crash_dump:process noatsecure;
allow untrusted_app_25 sysfs_batteryinfo:dir search;
allow untrusted_app_25 wigig_prop:file rw_file_perms;
allow untrusted_app_25 xlat_prop:file rw_file_perms;
