allow untrusted_app_27 alarm_boot_prop:file read;
allow untrusted_app_27 alarm_handled_prop:file read;
allow untrusted_app_27 alarm_instance_prop:file read;
allow untrusted_app_27 bg_boot_complete_prop:file read;
allow untrusted_app_27 bg_daemon_prop:file read;
allow untrusted_app_27 bluetooth_prop:file read;
allow untrusted_app_27 boot_animation_prop:file read;
allow untrusted_app_27 hal_memtrack_default:binder call;
allow untrusted_app_27 hal_memtrack_hwservice:hwservice_manager find;
allow untrusted_app_27 runtime_event_log_tags_file:file { open read };
allow untrusted_app_27 boot_mode_prop:file read;
allow untrusted_app_27 bootloader_boot_reason_prop:file read;
allow untrusted_app_27 boottime_prop:file read;
allow untrusted_app_27 coresight_prop:file read;
allow untrusted_app_27 crash_prop:file read;
allow untrusted_app_27 ctl_LKCore_prop:file read;
allow untrusted_app_27 ctl_bootanim_prop:file read;
allow untrusted_app_27 proc_vmstat:file { getattr open read };
allow untrusted_app_27 ctl_bugreport_prop:file read;
allow untrusted_app_27 ctl_console_prop:file read;
allow untrusted_app_27 ctl_default_prop:file read;
allow untrusted_app_27 ctl_dumpstate_prop:file read;
allow untrusted_app_27 ctl_fuse_prop:file read;
allow untrusted_app_27 ctl_hbtp_prop:file read;
allow untrusted_app_27 ctl_interface_restart_prop:file read;
allow untrusted_app_27 ctl_interface_start_prop:file read;
allow untrusted_app_27 ctl_interface_stop_prop:file read;
allow untrusted_app_27 ctl_mdnsd_prop:file read;
allow untrusted_app_27 ipacm-diag_prop:file read;
allow untrusted_app_27 logpersistd_logging_prop:file read;
allow untrusted_app_27 lowpan_prop:file read;
allow untrusted_app_27 mdm_helper_prop:file read;
allow untrusted_app_27 media_msm8939hw_prop:file read;
