allow untrusted_app alarm_boot_prop:file read;
allow untrusted_app alarm_handled_prop:file read;
allow untrusted_app alarm_instance_prop:file read;
allow untrusted_app bg_boot_complete_prop:file read;
allow untrusted_app bg_daemon_prop:file read;
allow untrusted_app bluetooth_prop:file read;

allow untrusted_app boot_animation_prop:file read;
allow untrusted_app boot_mode_prop:file read;
allow untrusted_app bootloader_boot_reason_prop:file read;
allow untrusted_app boottime_prop:file read;

allow untrusted_app coresight_prop:file read;
allow untrusted_app crash_prop:file read;
allow untrusted_app ctl_LKCore_prop:file read;
allow untrusted_app ctl_bootanim_prop:file read;
allow untrusted_app ctl_bugreport_prop:file read;
allow untrusted_app ctl_console_prop:file read;
allow untrusted_app ctl_default_prop:file read;
allow untrusted_app ctl_dumpstate_prop:file read;
allow untrusted_app ctl_fuse_prop:file read;
allow untrusted_app ctl_hbtp_prop:file read;
allow untrusted_app ctl_interface_restart_prop:file read;
allow untrusted_app ctl_interface_start_prop:file read;
allow untrusted_app ctl_interface_stop_prop:file read;
allow untrusted_app ctl_mdnsd_prop:file read;
allow untrusted_app kernel:system module_request;
allow untrusted_app ctl_netmgrd_prop:file read;
allow untrusted_app ctl_port-bridge_prop:file read;
allow untrusted_app ctl_qmuxd_prop:file read;
allow untrusted_app ctl_restart_prop:file read;
allow untrusted_app runtime_event_log_tags_file:file read;
allow untrusted_app ctl_rildaemon_prop:file read;
allow untrusted_app ctl_sigstop_prop:file read;
allow untrusted_app ctl_start_prop:file read;
allow untrusted_app ctl_stop_prop:file read;
allow untrusted_app runtime_event_log_tags_file:file open;
allow untrusted_app ctl_vendor_imsrcsservice_prop:file read;
allow untrusted_app ctl_vendor_wigigsvc_prop:file read;
allow untrusted_app device_logging_prop:file read;
allow untrusted_app diag_mdlog_prop:file read;
allow untrusted_app dolby_prop:file read;
allow untrusted_app dumpstate_options_prop:file read;
allow untrusted_app firstboot_prop:file read;
allow untrusted_app fm_prop:file read;
allow untrusted_app freq_prop:file read;
allow untrusted_app fst_prop:file read;
allow untrusted_app gamed_prop:file read;
allow untrusted_app hw_rev_prop:file read;
allow untrusted_app ipacm-diag_prop:file read;
allow untrusted_app ipacm_prop:file read;
allow untrusted_app last_boot_reason_prop:file read;
allow untrusted_app location_prop:file read;
allow untrusted_app logpersistd_logging_prop:file read;
allow untrusted_app lowpan_prop:file read;
allow untrusted_app manufacturedate_prop:file read;
allow untrusted_app mdm_helper_prop:file read;
allow untrusted_app media_msm8939hw_prop:file read;
allow untrusted_app mmc_prop:file read;
allow untrusted_app mmi_prop:file read;
allow untrusted_app mpdecision_prop:file read;
allow untrusted_app msm_irqbalance_prop:file read;
allow untrusted_app msm_irqbl_sdm630_prop:file read;
allow untrusted_app net_dns_prop:file read;
allow untrusted_app netd_prop:file read;
allow untrusted_app netd_stable_secret_prop:file read;
allow untrusted_app nfc_nq_prop:file read;
allow untrusted_app opengles_prop:file read;
allow untrusted_app overlay_prop:file read;
get_prop(untrusted_app, camera_prop);
get_prop(untrusted_app_25, camera_prop);
allow untrusted_app per_mgr_state_prop:file read;
allow untrusted_app perfd_prop:file read;
allow untrusted_app persistent_properties_ready_prop:file read;
allow untrusted_app postprocessing_prop:file read;
allow untrusted_app ppd_prop:file read;
allow untrusted_app proc_vmstat:file { getattr open read };
allow untrusted_app qcom_ims_prop:file read;
allow untrusted_app qdma_prop:file read;
allow untrusted_app qemu_gles_prop:file read;
allow untrusted_app qti_prop:file read;
allow untrusted_app rmnet_mux_prop:file read;
allow untrusted_app rmtfs_prop:file read;
allow untrusted_app safemode_prop:file read;
allow untrusted_app scr_enabled_prop:file read;
allow untrusted_app sdm_idle_time_prop:file read;
allow untrusted_app sensors_prop:file read;
allow untrusted_app serialno_prop:file read;
allow untrusted_app spcomlib_prop:file read;
allow untrusted_app sys_usb_configfs_prop:file read;
allow untrusted_app sys_usb_controller_prop:file read;
allow untrusted_app sys_usb_tethering_prop:file read;
allow untrusted_app system_boot_reason_prop:file read;
allow untrusted_app test_boot_reason_prop:file read;
allow untrusted_app theme_prop:file read;
