dontaudit untrusted_app hal_memtrack_hwservice:hwservice_manager find;
dontaudit untrusted_app proc:file { read open getattr };

allow untrusted_app sysfs_zram:file { open read getattr };
# allow apps to read battery status
r_dir_file(untrusted_app, sysfs_battery_supply)

unix_socket_connect(untrusted_app, mpctl, mpdecision)
unix_socket_send(untrusted_app, mpctl, mpdecision)

allow untrusted_app persist_file:file { getattr };
allow untrusted_app adb_data_file:dir { getattr };
allow untrusted_app rootfs:dir { read };
allow untrusted_app rootfs:dir { open };
allow untrusted_app device:dir { open };
allow untrusted_app device:dir { read };
allow untrusted_app block_device:dir { read };
allow untrusted_app block_device:dir { open };
allow untrusted_app bootchart_data_file:dir { open };
allow untrusted_app bootchart_data_file:dir { read };
allow untrusted_app user_profile_data_file:dir { read };
allow untrusted_app user_profile_data_file:dir { open };
allow untrusted_app radio_data_file:dir { getattr };
allow untrusted_app system_app_data_file:dir { getattr };
allow untrusted_app bluetooth_data_file:dir { getattr };
allow untrusted_app system_ndebug_socket:sock_file { getattr };
allow untrusted_app heapdump_data_file:dir { getattr };
allow untrusted_app hal_memtrack_default:binder { call };
allow untrusted_app sysfs_zram:dir search;
allow untrusted_app adb_keys_file:dir getattr; 
dontaudit untrusted_app anr_data_file:dir { getattr read }; 
allow untrusted_app apk_private_data_file:dir getattr; 
allow untrusted_app asec_image_file:dir getattr; 
allow untrusted_app audio_data_file:dir getattr; 
allow untrusted_app audioserver_data_file:dir getattr; 
allow untrusted_app avtimer_device:chr_file getattr; 
allow untrusted_app backup_data_file:dir getattr; 
allow untrusted_app battery_data_device:chr_file getattr; 
allow untrusted_app block_device:dir getattr; 
allow untrusted_app bootchart_data_file:dir { getattr search }; 
allow untrusted_app boottrace_data_file:dir getattr; 
allow untrusted_app camera_data_file:dir getattr; 
allow untrusted_app camera_socket:dir getattr; 
allow untrusted_app cnd_data_file:dir getattr; 
allow untrusted_app console_device:chr_file getattr; 
allow untrusted_app cutback_data_file:dir getattr; 
allow untrusted_app data_qsee_file:dir getattr; 
allow untrusted_app debugfs:dir read; 
allow untrusted_app debugfs:file getattr; 
allow untrusted_app debugfs_rpm:file getattr; 
allow untrusted_app device:chr_file getattr; 
allow untrusted_app device:file getattr; 
allow untrusted_app dhcp_data_file:dir getattr; 
dontaudit untrusted_app diag_device:chr_file getattr; 
allow untrusted_app dm_device:chr_file getattr; 
allow untrusted_app drm_data_file:dir getattr; 
allow untrusted_app file_contexts_file:file getattr; 
allow untrusted_app firmware_file:dir { read search }; 
allow untrusted_app fscklogs:dir getattr; 
allow untrusted_app fsg_file:dir read; 
allow untrusted_app fsg_file:file { getattr read }; 
allow untrusted_app fsg_file:lnk_file read; 
allow untrusted_app full_device:chr_file { getattr write }; 
allow untrusted_app gatekeeper_data_file:dir getattr; 
allow untrusted_app graphics_device:dir getattr; 
allow untrusted_app hbtp_device:chr_file getattr; 
dontaudit untrusted_app hw_random_device:chr_file getattr; 
allow untrusted_app hwservice_contexts_file:file getattr; 
allow untrusted_app i2c_device:chr_file getattr; 
allow untrusted_app init_exec:file getattr; 
allow untrusted_app input_device:dir getattr; 
allow untrusted_app install_data_file:file getattr; 
allow untrusted_app ipacm_data_file:dir getattr; 
allow untrusted_app media_data_file:dir getattr; 
allow untrusted_app net_data_file:dir getattr; 
allow untrusted_app nonplat_service_contexts_file:file getattr; 
allow untrusted_app ota_data_file:dir getattr; 
allow untrusted_app ota_package_file:dir getattr; 
allow untrusted_app persist_bluetooth_file:dir getattr; 
allow untrusted_app persist_drm_file:dir getattr; 
allow untrusted_app persist_file:dir { getattr search }; 
allow untrusted_app persist_misc_file:dir getattr; 
allow untrusted_app profman_dump_data_file:dir getattr; 
allow untrusted_app property_data_file:dir getattr; 
allow untrusted_app reboot_data_file:dir getattr; 
allow untrusted_app recovery_data_file:dir getattr; 
allow untrusted_app rmnet_device:chr_file getattr; 
allow untrusted_app rootfs:file getattr; 
allow untrusted_app runtime_event_log_tags_file:file getattr; 
allow untrusted_app seapp_contexts_file:file getattr; 
allow untrusted_app sepolicy_file:file getattr; 
allow untrusted_app service_contexts_file:file getattr; 
allow untrusted_app system_data_file:dir read; 
dontaudit untrusted_app system_ndebug_socket:sock_file write; 
allow untrusted_app theme_data_file:dir write; 
allow untrusted_app time_data_file:dir getattr; 
allow untrusted_app tombstone_data_file:dir getattr; 
allow untrusted_app usb_uicc_device:chr_file getattr; 
dontaudit untrusted_app vndbinder_device:chr_file { getattr write }; 
allow untrusted_app vndservice_contexts_file:file getattr; 
allow untrusted_app wcnss_device:chr_file getattr;
