allow untrusted_app_25 alarm_boot_prop:file read;
allow untrusted_app_25 alarm_handled_prop:file read;
allow untrusted_app_25 alarm_instance_prop:file read;
allow untrusted_app_25 bg_boot_complete_prop:file read;
allow untrusted_app_25 bg_daemon_prop:file read;
allow untrusted_app_25 bluetooth_prop:file read;
allow untrusted_app_25 boot_animation_prop:file read;
allow untrusted_app_25 boot_mode_prop:file read;
allow untrusted_app_25 bootloader_boot_reason_prop:file read;
allow untrusted_app_25 boottime_prop:file read;
allow untrusted_app_25 coresight_prop:file read;
