dontaudit untrusted_app_25 hal_memtrack_hwservice:hwservice_manager find;
dontaudit untrusted_app_25 proc:file { read open getattr };
dontaudit untrusted_app_25 apk_data_file:file { setattr };
dontaudit untrusted_app_25 serialno_prop:file { read getattr open };
dontaudit untrusted_app_25 kgsl_debugfs:file { read };
dontaudit untrusted_app_25 anr_data_file:dir { read };
dontaudit untrusted_app_25 shell_data_file:dir { setattr };

allow untrusted_app_25 vold_exec:file { read open};
allow untrusted_app_25 self:udp_socket { ioctl };
allow untrusted_app_25 proc_zoneinfo:file { getattr open read };
allow untrusted_app_25 rootfs:dir { read };
allow untrusted_app_25 mnt_media_rw_file:dir { getattr };
allow untrusted_app_25 sysfs_net:dir search;

allow untrusted_app_25 camera_prop:file read;
allow untrusted_app_25 camera_prop:file open;
allow untrusted_app_25 camera_prop:file getattr;
allow untrusted_app_25 sysfs:file read;
allow untrusted_app_25 hal_memtrack_default:binder call;
allow untrusted_app_25 mnt_vendor_file:dir getattr;
allow untrusted_app_25 proc_vmstat:file { getattr open };
allow untrusted_app_25 rootfs:dir open;
