allow vold persist_file:dir r_file_perms;
allow vold sdcardd:process noatsecure;
allow vold kernel:system module_request;
allow vold vold_prepare_subdirs:process noatsecure;
allow vold blkid_untrusted:process noatsecure;
allow vold sgdisk:process noatsecure;
allow vold cache_file:dir w_dir_perms;
allow vold tee_device:chr_file rw_file_perms;
allow vold self:capability sys_boot;
allow vold { fscklogs cache_file }:file create_file_perms;

# Read and write /cache/recovery/command
allow vold cache_recovery_file:dir rw_dir_perms;
allow vold cache_recovery_file:file create_file_perms;

allow vold { proc_sysrq proc_dirty_ratio }:file rw_file_perms;
wakelock_use(vold)
allow vold swap_block_device:blk_file r_file_perms;
allow vold { domain -lmkd -crash_dump }:process noatsecure;
allow vold hal_bootctl_hwservice:hwservice_manager find;
allow vold mnt_vendor_file:dir read;
