allow webview_zygote zygote:unix_dgram_socket write;

allow webview_zygote theme_data_file:dir search;
allow webview_zygote mnt_expand_file:dir getattr;
allow webview_zygote alarm_boot_prop:file read;
allow webview_zygote alarm_handled_prop:file read;
allow webview_zygote alarm_instance_prop:file read;
allow webview_zygote bg_boot_complete_prop:file read;
allow webview_zygote boot_animation_prop:file read;
allow webview_zygote bg_daemon_prop:file read;
allow webview_zygote bluetooth_prop:file read;
allow webview_zygote boot_mode_prop:file read;
