allow webview_zygote zygote:unix_dgram_socket write;

allow webview_zygote theme_data_file:dir search;
allow webview_zygote mnt_expand_file:dir getattr;
allow webview_zygote alarm_boot_prop:file rw_file_perms;
allow webview_zygote alarm_handled_prop:file rw_file_perms;
allow webview_zygote alarm_instance_prop:file rw_file_perms;
allow webview_zygote bg_boot_complete_prop:file rw_file_perms;
allow webview_zygote boot_animation_prop:file rw_file_perms;
allow webview_zygote bg_daemon_prop:file rw_file_perms;
allow webview_zygote bluetooth_prop:file rw_file_perms;
allow webview_zygote boot_mode_prop:file rw_file_perms;
allow webview_zygote bootloader_boot_reason_prop:file rw_file_perms;
allow webview_zygote boottime_prop:file rw_file_perms;
allow webview_zygote bservice_prop:file rw_file_perms;
allow webview_zygote camera_prop:file rw_file_perms;
allow webview_zygote coresight_prop:file rw_file_perms;
allow webview_zygote crash_prop:file rw_file_perms;
allow webview_zygote ctl_LKCore_prop:file rw_file_perms;
allow webview_zygote ctl_bootanim_prop:file rw_file_perms;
allow webview_zygote ctl_bugreport_prop:file rw_file_perms;
allow webview_zygote ctl_console_prop:file rw_file_perms;
allow webview_zygote ctl_default_prop:file rw_file_perms;
allow webview_zygote ctl_dumpstate_prop:file rw_file_perms;
allow webview_zygote ctl_fuse_prop:file rw_file_perms;
allow webview_zygote ctl_hbtp_prop:file rw_file_perms;
allow webview_zygote ctl_interface_restart_prop:file rw_file_perms;
allow webview_zygote ctl_interface_start_prop:file rw_file_perms;
allow webview_zygote ctl_interface_stop_prop:file rw_file_perms;
allow webview_zygote ctl_mdnsd_prop:file rw_file_perms;
allow webview_zygote ctl_netmgrd_prop:file rw_file_perms;
allow webview_zygote ctl_port-bridge_prop:file rw_file_perms;
allow webview_zygote ctl_qmuxd_prop:file rw_file_perms;
allow webview_zygote ctl_restart_prop:file rw_file_perms;
allow webview_zygote ctl_rildaemon_prop:file rw_file_perms;
