allow zygote input_device:dir { read };
allow zygote apk_data_file:dir { write };
allow zygote dalvikcache_data_file:dir { execute };
dontaudit zygote system_file:dir { write };
allow zygote vendor_app_file:dir { read };
