allow zygote proc_cmdline:file { getattr open read };
allow zygote kernel:system module_request;

get_prop(zygote, debug_gralloc_prop)
set_prop(zygote, qemu_gles_prop)
set_prop(zygote, system_prop)

allow zygote proc_cmdline:file r_file_perms;
allow zygote system_file:dir mounton;
