allow vendor_init dpmd_data_file:dir create;
allow vendor_init dpmd_data_file:dir { search setattr };
allow vendor_init dpmd_data_file:dir write;
allow vendor_init dpmd_data_file:dir add_name;
