allow hal_memtrack_default hal_allocator_default:file read;
allow hal_memtrack_default hal_allocator_default:dir search;
allow hal_memtrack_default hal_allocator_default:file { getattr open read };
