allow init sysinit:process noatsecure;
allow init hal_allocator_default:process noatsecure;
allow init statsd:process noatsecure;
allow init storaged:process noatsecure;
