allow system_server userinit_prop:file rw_file_perms;
allow system_server adbtcp_prop:file rw_file_perms;
allow system_server lineage_recovery_prop:file rw_file_perms;
allow system_server recovery_prop:file rw_file_perms;
