allow untrusted_app_25 adbtcp_prop:file rw_file_perms;
allow untrusted_app_25 ctl_mdnd_prop:file rw_file_perms;
allow untrusted_app_25 lineage_recovery_prop:file rw_file_perms;
allow untrusted_app_25 userinit_prop:file rw_file_perms;
